.nav-container{
    width: 100%;
}

.navbar-light .navbar-brand {
    color:white;
}

.navbar{
    background-color: #A31F34 !important;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px ridge black;
    z-index: +1;
}

.navbar-brand{
    color: white;
}

.nav-link{
    padding: 0;
    display: inline;
    text-align: right;
    color: white;
}

#hamburger1{
    color: white;
}

#login {
    border-right: 1px solid black;
    color:white;
}

#saved {
    color:white;
}

#search-box {
    text-align: center;
    color: darkgrey;
}