body{
  background-color: #8A8B8C;
  padding-bottom: 50px;
}

.container{
  max-width: 750px;
}

.form{
  font-family: 'Lato', sans-serif;
  color: black;
}

.form-control-lg{
  width: 100%;
}

.btn-lg{
  display: inline;
  margin-left: auto;
}

.btn-group{
    display: inline-block;
    margin-bottom: 15px;
}

.dropdown{
  margin-top: 10px;
  color: blue;
}

.card-body{
  background-color: #8A8B8C;
  border: none;
}

.upper{
  text-align: center;
  margin-bottom: 20px;
}

.input-group{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 460px) {
    .form-control-lg {
      max-width: 380px
    }
  }

  @media only screen and (max-width: 375px) {
    .form-control-lg {
      max-width: 345px
    }
  }

  @media only screen and (max-width: 360px) {
    .form-control-lg {
      max-width: 330px
    }
  }

  @media only screen and (max-width: 320px) {
    .form-control-lg {
      max-width: 290px
    }
  }

#search-box{
    background-color: rgb(160, 160, 160);
    color: black;
}

#search-box::placeholder {
    color: rgb(82, 82, 82);
}
